{% extends 'base.html' %}

{% block nav_links %}
  <li><a href="{% url 'painel' %}">Voltar ao Painel</a></li>
  <li><a href="{% url 'logout' %}">Sair</a></li>
{% endblock %}

{% block content %}
<div class="container">

  <h1>Cadastrar Novo Contrato</h1>

  {% if mensagem_sucesso %}
    <p class="sucesso">{{ mensagem_sucesso }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn">Salvar Contrato</button>
  </form>

</div>
{% endblock %}
