{% extends 'base.html' %}

{% block nav_links %}
<li><a href="{% url 'painel' %}">Painel de Controle</a></li>
<li><a href="{% url 'clientes' %}">Clientes Registrados</a></li>
<li><a href="{% url 'gerenciar_contratos' %}">Gerenciar Contratos</a></li>
<li><a href="{% url 'registro' %}">Criar Login de Funcionário</a></li>
<li><a href="{% url 'logout' %}">Sair</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Serviços Registrados</h1>
  {% if servicos %}
    <ul>
      {% for servico in servicos %}
        <li>{{ servico }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhum serviço cadastrado.</p>
  {% endif %}
</div>
{% endblock %}
